{extend name="template"/}
{block name="title"}
{$Article->art_title} - 学习论坛
{/block}
{block name="cssname"}article{/block}

{block name="content"}
    <div class="crumb"><a href="{:url('Index/index')}"><span class="fa fa-home fa-lg"></span></a><fuline>></fuline><a href="{:url('Bhead/index?hid='.$Article->Board->Bhead->bhead_id)}">{$Article->Board->Bhead->bhead_name}</a><fuline>></fuline><a href="{:url('Board/index?bid='.$Article->Board->board_id)}">{$Article->Board->board_name}</a><fuline>></fuline>{$Article->art_title}</div>
    <div>
        {if condition="($Think.get.page==1||$Think.get.page==null)"}
        <!-- 楼主的帖子主文模板 -->
        <div class="pocon">
            <div class="postuser">
                <div class="wanum">查看: <span>{$Article->getData('art_view')}</span>|回复: <span>{$Article->GetComNum($Article->art_id)}</span></div>
                <div class="usi"><a href="{:url('User/index?uid='.$Article->User->user_id)}"><img src="__UPLOAD__/userimgs/{$Article->User->user_img}" width="125" height="125" /></a></div>
                <div class="userxin">TA今天的心情<br />{$Article->User->getSign($Article->User->user_id)}</div>
                <div class="userdays">签到天数: {$Article->User->user_days} 天</div>
                <div class="userlv">{$Article->User->user_lv}</div>
                <div class="usersnu">
                    <div class="snu snuti"><span>10</span><br />帖子</div>
                    <div class="snu snuji"><span>{$Article->User->user_money}</span><br />金币</div>
                </div>
                <div>积分 <span>{$Article->User->user_point}</span></div>
            </div>
            <div class="posttcon">
                <div class="posttitle">[<a href="{:url('Board/index?bid='.$Article->art_board_id.'&oid=0&page=1&atype='.$Article->atype_id)}">{$Article->Atype->atype_name}</a>]{$Article->art_title}</div>
                <div class="useratime"><div><span><a href="{:url('User/index?uid='.$Article->User->user_id)}">{$Article->User->nick_name}</a></span>　　发表于 <span>{$Article->TimeHandle($Article->art_time)}</span></div><div class="lounum"><span>1</span><sup>#</sup></div></div>
                <p class="edtime">本帖子最后于<span>{$Article->TimeHandle($Article->getData('art_lasttime'))}</span>编辑</p>
                {if condition="$Article->art_status==2"}<div class="lock"><img src="__ADMIN__/study/img/lock.gif" alt="帖子被锁定" title="帖子被锁定" />该帖子已被锁定，仅限查看</div>{/if}
                <div class="postf artcon">
                    {$Article->getData('art_content')|htmlspecialchars_decode}
                </div>
                {if condition="($Article->com_grade==1)"}
                <div class="pmark">
                    <!-- 评分最多显示5条记录，可以点击查看更多来读取显示 -->
                    <div class="pro"><span><span class="fa fa-check"></span> 评分</span><span class="futh"></span></div>
                    <div class="pmaer">
                        <table cellspacing="0">
                            <tr>
                                <th class="pm1">评分人</th>
                                <th  class="pm2">积分</th>
                                <th  class="pm2">金币</th>
                                <th class="pm3">理由</th>
                            </tr>
                            {volist name="$Article->Grade" id="grade"}
                            <tr>
                                <td><img src="__UPLOAD__/userimgs/{$grade->User->user_img}" width="13" height="13" /><a href="{:url('User/index?uid='.$grade->User->user_id)}">{$grade->User->nick_name}</a></td>
                                <td>+{$grade->grade_point}</td>
                                <td>+{$grade->grade_money}</td>
                                <td>{$grade->grade_content}</td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                </div>
                {/if}
                <div class="pret">
                    
                    {if condition="$Article->isFav($Article->art_id,$Think.session.UserId)==0"}<a href="fav?aid={$Article->art_id}" class="fav">收藏</a>{else /}<a href="canfav?aid={$Article->art_id}" class="fav">取消收藏</a>{/if}
                    <a href="#editor" class="pretbtn pfirst" id="re">回复</a>
                    {if condition="($Article->user_id == $Think.session.UserId)||($auth==true)"}
                    <a href="{:url('edit?aid=' . $Article->art_id)}">编辑</a>
                    <a href="{:url('deleteArt?aid=' . $Article->art_id)}">删除</a>
                        {if condition="($auth==true)"}
                            <a class="gop" id="ag{$Article->art_id}">评分</a>
                        {/if}
                    {else /}<a class="tip" id="atip{$Article->art_id}">举报</a>
                    {/if}
                </div>
            </div>
        </div>
        {/if}
        {volist name="comments" id="comment"}
        <!-- 回复的楼层模板 -->
        <div class="pocon">
            <div class="postuser">
                <div class="usi"><a href="{:url('User/index?uid='.$comment->User->user_id)}"><img src="__UPLOAD__/userimgs/{$comment->User->user_img}" width="125" height="125" /></a></div>
                <div class="userxin">TA今天的心情<br />{$comment->User->getSign($comment->User->user_id)}</div>
                <div class="userdays">签到天数: {$comment->User->user_days} 天</div>
                <div class="userlv">{$comment->User->user_lv}</div>
                <div class="usersnu">
                    <div class="snu snuti"><span>10</span><br />帖子</div>
                    <div class="snu snuji"><span>{$comment->User->user_money}</span><br />金币</div>
                </div>
                <div>积分 <span>{$comment->User->user_point}</span></div>
            </div>
            
                
            <div class="posttcon postretcon">
                <div class="useratime"><div><span><a href="{:url('User/index?uid='.$comment->User->user_id)}">{$comment->User->nick_name}</a></span>　　发表于 <span>{$Article->TimeHandle($comment->com_time)}</span></div><div class="lounum"><span id="c{$comment->com_count}" name="c{$comment->com_count}">{$comment->com_count}</span><sup>#</sup></div></div>

                {if condition="$comment->re_com_id!=''"}
                <div class="whatre">
                    <div class="lkh"></div>
                    <blockquote>
                        <p>{$comment::get($comment->re_com_id)->User->nick_name} 发表于 {$Article->TimeHandle($comment::get($comment->re_com_id)->com_time)}</p>
                        <div>
                        {switch name="$comment::get($comment->re_com_id)->com_status" }
                            {case value="0"}{$comment::get($comment->re_com_id)->com_content|htmlspecialchars_decode}{/case}
                            {case value="1"}该回复已被删除{/case}
                        {/switch}
                        
                        </div>
                        <div class="rkh"></div>
                    </blockquote>
                </div>
                {/if}
                
                

                <div class="postf comcon{$comment->com_count}">
                    {if condition="($comment->com_status==0)"}
                    {$comment->com_content|htmlspecialchars_decode}
                    {else /}<p><i>该回复已被删除</i></p>
                    {/if}
                </div>
                {if condition="($comment->com_grade==1)"}
                <div class="pmark">
                    <!-- 评分最多显示5条记录，可以点击查看更多来读取显示 -->
                    <div class="pro"><span><span class="fa fa-check"></span> 评分</span><span class="futh"></span></div>
                    <div class="pmaer">
                        <table cellspacing="0">
                            <tr>
                                <th class="pm1">评分人</th>
                                <th  class="pm2">积分</th>
                                <th  class="pm2">金币</th>
                                <th class="pm3">理由</th>
                            </tr>
                            {volist name="$comment->Grade" id="grade"}
                            <tr>
                                <td><img src="__UPLOAD__/userimgs/{$grade->User->user_img}" width="13" height="13" /><a href="{:url('User/index?uid='.$grade->User->user_id)}">{$grade->User->nick_name}</a></td>
                                <td>+{$grade->grade_point}</td>
                                <td>+{$grade->grade_money}</td>
                                <td>{$grade->grade_content}</td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                </div>
                {/if}
                <div class="pret">
                    {if condition="($comment->com_status==0)"}
                    <a href="#editor" class="pretbtn" id="re{$comment->com_id}" name="{$comment->com_count}">回复</a>
                    {/if}
                    {if condition="($comment->User->user_id==$Think.session.UserId)||($auth==true)"}
                        {switch name="$comment->com_status" }
                            {case value="0"}<a href="{:url('delete?cid=' . $comment->com_id)}" class="del">删除</a>{/case}
                        {/switch}
                    
                    {/if}
                    {if condition="($auth==true&&$comment->com_status==0)"}
                    <a class="gop" id="cg{$comment->com_id}">评分</a>
                    {else /}{if condition="($comment->com_status==0)"}<a class="tip" id="ctip{$comment->com_id}" name="{$comment->com_count}">举报</a>{/if}
                    {/if}
                </div>
            </div>
        </div>
        {/volist}
    </div>
    <div class="pagecon">{$page}</div>
    {switch name="$Article->art_status"}
        {case value="2"}{/case}
        {default /}
        <div class="poreser"><span class="fcount">回复楼主</span></div>
        <!-- 回复框 -->
        <div class="rebox">
            <div class="rele"></div>
            <div class="eab">
                <form action="reply" method="post">
                    <div id="editor"></div>
                    <textarea id="comcontent" name="comcontent" style="display: none;"></textarea>
                    <input type="hidden" id="par" name="par" value="{$Article->art_id}|" />
                    
                    <button class="sub" id="gra{$Article->User::get($Think.session.UserId)['user_grant']}" type="submit">发表回复</button>
                </form>
            </div>
        </div>
    {/switch}
        {if condition="$auth==true"}
        <div class="topop">
            <form action="point" method="post" class="toform">
                <input type="hidden" id="aid" name="aid" value="" />
                <div class="totitle">评分</div>
                <div class="tocon">
                    <div class="poli">
                        <label for="poinput">请填写评分分数</label><fuline></fuline><input type="text" name="poinput" id="poinput" />
                        <label for="moinput">请填写评分金币</label><fuline></fuline><input type="text" name="moinput" id="moinput" />
                    </div>
                    <div class="pore"><label for="reinput">请填写评分理由</label><fuline></fuline><input type="text" name="reinput" id="reinput" /></div>
                </div>
                <div class="tobtn">
                    <button type="submit">确定</button><button class="cancel">取消</button>
                </div>
            </form>
        </div>
        {elseif condition="($Article->user_id != $Think.session.UserId)"}
        <div class="topop">
            <form action="point" method="post" class="toform">
                <input type="hidden" id="aid" name="aid" value="" />
                <div class="totitle">举报</div>
                <div class="tocon">
                    <div class="poli">
                        <div class="tiptitle">您将举报<span class="comnn">{$Article->art_title}</span></div>
                    </div>
                    <div class="pore"><label for="reinput">请填写举报理由</label><fuline></fuline><input type="text" name="reinput" id="reinput" /></div>
                </div>
                <div class="tobtn">
                    <button class="tipok">确定</button><button class="cancel">取消</button>
                </div>
            </form>
        </div>
        {/if}
    <script type="text/javascript" src="__ADMIN__/study/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')

        //开启本地图片上传，上传图片到服务器
        editor.customConfig.uploadImgServer = 'upload'

        // 将图片大小限制为 5M
        editor.customConfig.uploadImgMaxSize = 5 * 1024 * 1024

        // 限制一次最多上传 5 张图片
        editor.customConfig.uploadImgMaxLength = 5

        var $text1 = $('#comcontent')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        //创建富文本编辑器
        editor.create()
    </script>
    <script>
        $(document).ready(function(){
            $('.pretbtn').click(function(){
                $('div.w-e-text').focus();
                $i=$('#par').attr('value');
                //多次点击回复楼层所必须的处理
                $i=$i.substring($i.lastIndexOf('|')+1, 0);

                $cid=$(this).attr('id').replace('re','');
                $newname=$i+$cid;
                if(!$(this).hasClass('pfirst')){
                    $('.fcount').text('回复'+$(this).attr('name')+'楼').append("<a class='canc'>取消</a>");
                }
                else{
                    $('.fcount').text('回复楼主');
                }
                $('#par').attr('value',$newname);
            })
            //删除确认
            $('.del').click(function(){
                  if(confirm("确定要删除吗？"))
                  {
                    return true;
                  }
                  else
                  {
                    return false;
                  }
            })
            $('#gra1').click(function(){
                alert('你没有权限！请联系管理员');
                event.preventDefault();
            })

            $('.cancel').click(function(){
                event.preventDefault();
                $('.topop').fadeOut();
            })
            
            $('.gop').click(function(){
                $('#aid').val($(this).attr('id'));
                $('.topop').fadeIn();
            })

            $('.tip').click(function(){
                if($(this).attr('id').indexOf('ctip')>=0){
                    $('.comnn').text('回复：'+$('.comcon'+$(this).attr('name')).text());
                }
                else{
                    $('.comnn').text('帖子：'+$('.artcon').text());
                }
                $('#aid').val($(this).attr('id'));
                $('.topop').fadeIn();
            })

            $('.tipok').click(function(){
                event.preventDefault();
                if($('#aid').val()!=''){
                    $aid = $('#aid').val();
                    $tipcon = $('#reinput').val();
                    $.ajax({
                        type: "GET",
                        url: 'tip',
                        data: {
                            aid: $aid,
                            tipcon: $tipcon,
                        },
                        dataType: "json",
                        success: function(data){
                            if(data==true){
                                alert('举报成功，请等待版主处理');
                            }
                            else if(data=='nop')
                            {
                                alert('您还未登录，请先登录');
                            }
                            else if(data=='isTip')
                            {
                                alert('您已举报！请勿重复举报');
                            }
                            else{
                                alert('举报出错');
                            }
                        }
                    });
                }
            })

            $("body").on('click', ".canc",function(){
                $('.pfirst').click();
            })
        })
    </script>
    <script type="text/javascript">
        var uid = "{$Think.session.UserId}";
        var getuser = "{:url('Chat/getUserdata')}";
        var getmember = "{:url('Chat/getMembers')}";
        var getchatlog = "{:url('Chat/getChatLog')}"
        var changesign = "{:url('Chat/changeSign')}"
        var changestatus = "{:url('Chat/changeStatus')}";
        var uploadimg = "{:url('Chat/uploadimg')}"
        var uploadfile = "{:url('Chat/uploadfile')}"
        // var seachgroup = "{:url('Find/index')}"

    </script>

    <script type="text/javascript" src="__CHAT__/chat.js"></script>
{/block}