<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="__ADMINL__/css/layui.css">
  <meta name="renderer" content="webkit">

</head>

<body class="layui-layout-body">

  <table class="layui-hide" id="article_table" lay-filter="article"></table>

  </script>
  <script src="__ADMINL__/layui.js"></script>
  <script>
    //JavaScript代码区域
    layui.use('table', function () {
      var table = layui.table;

      table.render({
        elem: '#article_table'
        , id: 'article'
        , height: 420
        , url: '{:url("Atypes/getArticles")}?atype_id=' + '{$atype_id}'//数据接口
        , title: '版块分类'
        , page: true //开启分页
        , toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        , totalRow: true //开启合计行
        , cols: [[ //表头
          { field: 'art_id', title: 'ID', width: '10%', fixed: 'left', totalRowText: '合计：' }
          , { field: 'art_title', title: '文章标题', width: '60%' }
          , { field: 'user_id', title: '用户ID', width: '10%' },
          {
            field: 'art_status', title: '状态', width: '20%', templet: function (res) {
              if (res.art_status == 0) {
                return "<p style='color:#009688'>正常</p>"
              } else if (res.art_status == 1) {
                return "<p style='color:#666'>删除</p>"
              } else {
                return "<p style='color:#FF6666'>锁定</p>"
              }
            }
          }
        ]]
      });

      var $ = layui.$, active = {
        reload: function () {
          var searchID = $('#searchID');
          var searchArtTitle = $('#searchArtTitle');
          //执行重载
          table.reload('article', {
            page: {
              curr: 1 //重新从第 1 页开始
              // ,limit:10
            }
            , where: {
              search: {
                "art_id": searchID.val(),
                "art_title": searchArtTitle.val(),
              }
              // ,pal:{
              //     page:1,
              //     limit:10
              // }
            }
          });
        }
      };
      $('.demoTable .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
    });
  </script>
</body>

</html>