<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="__ADMINL__/css/layui.css">
  <script type="text/javascript" src="__ADMINL__/jquery/jquery-3.4.1.min.js"></script>
  <title>Document</title>
  <style>
    .layui-layout-body {
      padding: 1rem;
    }

    .add_btn {
      text-align: center;
      /* margin:0 auto; */
    }
  </style>
</head>

<body class="layui-layout-body ">
  <form class="layui-form layui-form-pane" action="" method="POST">
    {volist name="atype" id="atype"}
    <!-- start -->
    <div class="layui-form-item">
      <label class="layui-form-label">分类名称</label>
      <div class="layui-input-inline">
        <input type="text" name="atype_name" lay-verify="atype_name" placeholder="请输入" autocomplete="off"
          class="layui-input" value="{$atype.atype_name}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">版块</label>
      <div class="layui-input-inline">
        <select name="board_id" lay-filter="select_board">
          {volist name="board" id="board"}
          {if condition="$board.board_id == $atype.board_id"}
          <option value="{$board.board_id}" selected>{$board.board_name}</option>
          {else /}
          <option value="{$board.board_id}">{$board.board_name}</option>
          {/if}
          {/volist}
        </select>
      </div>
    </div>
    <!-- end -->
    <div class="layui-form-item add_btn">
      <button class="layui-btn" lay-submit="" lay-filter="save">提交</button>
      <!-- <button class="layui-btn" lay-submit="" type="reset">重置</button> -->
    </div>
    {/volist}
  </form>


  <script src="__ADMINL__/layui.js"></script>
  <script>
    layui.use(['form', 'layedit', 'jquery', 'upload'], function () {
      var form = layui.form
        , laydate = layui.laydate
        , $ = layui.jquery;

      //监听提交
      form.on('submit(save)', function (data) {
        let url = "{:url('edit')}";
        data.field['atype_id'] = '{$atype.atype_id}';
        let post = JSON.stringify(data.field);
        console.log(url, post);
        $.ajax({
          type: 'post',
          url: url,
          data: 'post=' + post,
          dataType: 'json',
          success: function (json) {
            layer.msg(json.msg, { time: 500 }, function () {
              var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
              parent.layer.close(index); //再执行关闭
              parent.layui.table.reload('atype', { page: { curr: 1 } });
            });
          }
        });
        return false;
      });

      //自定义验证规则
      form.verify({
        user_name: function (value) {
          if (value.length < 5)
            return "输入长度5以上用户名";
        }
        , atype_name: function (value) {
          if (value.length < 2)
            return "输入长度2以上";
        }
      });
    });



  </script>
</body>

</html>