{extend name="template"/}
{block name="title"}
提醒 - 学习论坛
{/block}
{block name="cssname"}remind{/block}

{block name="content"}
<div class="crumb">
    <a href="{:url('Index/index')}"><span class="fa fa-home fa-lg"></span></a><fuline>></fuline>我的提醒</a>
</div>
<div class="content">
    <div class="left">
        <div class="letitle">通知</div>
        <ul>
            <li><a {if condition="($type == 'rre')"}class="eraned"{/if} href="{:url('Remind/index?uid='.$nowuser->user_id.'&type=rre')}">我的帖子相关{if condition="$rremindnum>0"}<span class="renum">{$rremindnum}</span>{/if}</a></li>
            <li><a {if condition="($type == 'are')"}class="eraned"{/if} href="{:url('Remind/index?uid='.$nowuser->user_id.'&type=are')}">消息{if condition="$aremindnum>0"}<span class="renum">{$aremindnum}</span>{/if}</a></li>
            <li><a {if condition="($type == 'fre')"}class="eraned"{/if} href="{:url('Remind/index?uid='.$nowuser->user_id.'&type=fre')}">好友申请通知{if condition="$friendnum>0"}<span class="renum">{$friendnum}</span>{/if}</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="listcon">
    {if condition="($type == 'rre')"}
    {volist name="Rremind" id="rremind"}
            <div class="rrlist">
                <div class="redarea">{if condition="$rremind->rremind_status==0"}<span class="red red{$rremind->rremind_id}"></span>{/if}</div>
                <div class="userimg"><a href="{:url('User/index?uid='.$rremind->reUser->user_id)}"><img src="__UPLOAD__/userimgs/{$rremind->reUser['user_img']}" width="55" height="55" /></a></div>
                <div class="reinfo">
                    <div class="info">
                        <div class="retime">{$rremind->TimeHandle($rremind->rremind_time)}</div>
                        <div class="recon">
                            <a href="{:url('User/index?uid='.$rremind->reUser->user_id)}">{$rremind->reUser->nick_name}</a> 回复了你 
                            <a href="{:url('Article/index?aid='.$rremind->art_id)}">{$Article[0]::get($rremind->art_id)->art_title}</a>
                        </div>
                    </div>
                    <div class="reop">
                        {if condition="$rremind->rremind_status==0"}
                        <a class="readop" id="sr{$rremind->rremind_id}">标为已读</a>
                        {else /}<span>已读</span>
                        {/if}
                    </div>
                </div>
            </div>
    {/volist}
    {elseif condition="($type == 'are')"}
    {volist name="Aremind" id="aremind"}
            <div class="rrlist">
                <div class="redarea">{if condition="$aremind->aremind_status==0"}<span class="red red{$aremind->aremind_id}"></span>{/if}</div>
                <div class="userimg">{switch name="$aremind->ao_user_id"}
                    {case value="0"}
                    <a><img src="__ADMIN__/study/img/tipimg.jpg" /></a>
                    {/case}
                    {default /}
                    <a href="{:url('User/index?uid='.$aremind->aoUser->user_id)}">
                        <img src="__UPLOAD__/userimgs/{$aremind->aoUser['user_img']}" width="55" height="55" />
                    </a>
                    {/switch}
                </div>
                <div class="reinfo">
                    <div class="info">
                        <div class="retime">{$aremind->TimeHandle($aremind->aremind_time)}</div>
                        <div class="recon">
                            {if condition="$aremind->ao_user_id!=0"}<a href="{:url('User/index?uid='.$aremind->aoUser->user_id)}">{$aremind->aoUser->nick_name}</a> {/if}
                            {switch name="$aremind->aremind_op"}
                            {case value="0"}删除了你的违规帖子： <a href="{:url('Article/index?aid='.$aremind->art_id)}">{$Article[0]::get($aremind->art_id)->art_title}</a>{/case}
                            {case value="1"}置顶了你的帖子： <a href="{:url('Article/index?aid='.$aremind->art_id)}">{$Article[0]::get($aremind->art_id)->art_title}</a>{/case}
                            {case value="2"}修改了你的帖子： <a href="{:url('Article/index?aid='.$aremind->art_id)}">{$Article[0]::get($aremind->art_id)->art_title}</a>{/case}
                            {case value="3"}在帖子 <a href="{:url('Article/index?aid='.$aremind->art_id)}">{$Article[0]::get($aremind->art_id)->art_title}</a> 中删除了你的回复： 
                            {volist name="$Comment" id="comment"}
                            {if condition="($comment->com_id==$aremind->com_id)"}
                            {$comment->com_content|htmlspecialchars_decode|strip_tags}
                            {/if}
                            {/volist}
                            {/case}
                            {case value="4"}您管理的版块 <a href="{:url('Board/index?bid='.$aremind->board_id)}">{$aremind->Board->board_name}</a> 有举报消息{/case}
                            {/switch}
                            
                        </div>
                    </div>
                    <div class="reop">
                        {if condition="$aremind->aremind_status==0"}
                        <a class="readop" id="sr{$aremind->aremind_id}" name="ar{$aremind->aremind_id}">标为已读</a>
                        {else /}<span>已读</span>
                        {/if}
                    </div>
                </div>
            </div>
    {/volist}
    {elseif condition="($type == 'fre')"}
    {volist name="$Friend" id="friend"}
            <div class="rrlist">
                <div class="redarea">{if condition="$friend->ismut==0"}<span class="red red{$friend->friend_id}"></span>{/if}</div>
                <div class="userimg">
                    <a href="{:url('User/index?uid='.$friend->friend_user_id)}">
                        <img src="__UPLOAD__/userimgs/{$friend->FriendUser($friend->friend_user_id)->user_img}" width="55" height="55" />
                    </a>
                </div>
                <div class="reinfo">
                    <div class="info">
                        <div class="retime">{$friend->TimeHandle($friend->friend_time)}</div>
                        <div class="recon">
                            <a href="{:url('User/index?uid='.$friend->friend_user_id)}">{$friend->FriendUser($friend->friend_user_id)->nick_name}</a> 申请添加您为好友
                        </div>
                    </div>
                    <div class="reop">
                        {if condition="$friend->ismut==0"}
                        <a class="readop fre" id="fr{$friend->friend_id}">同意好友申请</a> <a class="readop ign" id="ign{$friend->friend_id}">忽略</a>
                        {elseif condition="$friend->ismut==1"}<span>已同意</span>
                        {else /}<span>已忽略</span>
                        {/if}
                    </div>
                </div>
            </div>
    {/volist}
    {/if}
        </div>
        <div class="pagecon">{$page}</div>
        <div><button class="allre">全部已读</button></div>
    </div>

    <div></div>
</div>
<div class="son"><div class="close"></div>已读成功！<br /><span id="time">5</span>秒后自动关闭。</div>
<script>
    $(document).ready(function(){
        $x = '已读';
        $('.readop').click(function(){
            if($(this).attr('name')==null){
                $sr = $(this).attr('id');
                $red ='.red'+ $sr.replace('sr','');
                $str = '#' + $sr;
                if($(this).hasClass('fre')){
                    $x = '已同意';
                    $red ='.red'+ $sr.replace('fr','');
                }
                else if($(this).hasClass('ign')){
                    $x = '已忽略';
                    $red ='.red'+ $sr.replace('fr','');
                    $('.fre').css('display','none');
                    $('.ign').removeClass('ign');
                }
            }
            else{
                $sr = $(this).attr('name');
                $red ='.red'+ $sr.replace('ar','');
                $str = '#sr' + $sr.replace('ar','');
            }
            $.ajax({
                type: "GET",
                url: 'read',
                data: {rrid: $sr},
                dataType: "json",
                success: function(data){
                    if(data==true){
                        $($red).css('display','none');
                        $($str).text($x).removeClass('readop');
                    }
                }
            })

        })
        $('.allre').click(function(){
            $.ajax({
                type: "GET",
                url: 'allre',
                success: function(data){
                    if(data==true){
                        $('.son').fadeIn();
                        $('.son').animate({
                            opacity: 1
                            },200,"swing");
                        clock = setTimeout(countDown, 5000);
                        clock2 = setInterval(timeout, 1000);
                    }
                    else{
                        $('.son').text('已读失败！').css('display','block');
                    }
                }
            })
        })
        $('.close').click(function(){
            countDown();
        })
        function countDown(){
            $('.son').fadeOut(function(){
                clearTimeout(clock);
                clearInterval(clock2);
                $('#time').text(5);
            });
        }
        function timeout(){
            $('#time').text($('#time').text()-1);
        }
    })
</script>
{/block}