<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录 - 学习论坛</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/logreg.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="topn">
            <div class="topn-btn"><a href="login.html">登录</a><a href="register.html">注册</a></div>
        </div>
        <div class="hlogo">

        </div>
        <nav class="nav">
            <div class="navblock">
                <div class="navbtn">
                    <a href="index.html">主页</a>
                    <a href="#">每日签到</a>
                    <a href="#">动态</a>
                    <a href="#">排行榜</a>
                </div>
                <div class="search">
                    <form action=""><div><input type="text" placeholder="请输入搜索内容" /></div><div><button><span class="fa fa-lg fa-search"></span></button></div></form>
                </div>
            </div>
        </nav>
    </div>

    <div class="logincon">
        <div class="lotitle">
            <h3>登录</h3>
            <a href="register.html">没有账号，去注册！</a>
        </div>
        <div class="loginin">
            <form action="">
                <div class="inrow"><label for="user" class="inlabel">用户名：</label><input type="text" id="user" class="loinput" placeholder="请输入用户名" /></div>
                <div class="inrow"><label for="pwd" class="inlabel">密码：</label><input type="text" id="pwd" class="loinput" placeholder="请输入密码" /> <a href="#">忘记密码？</a></div>
                <div class="inrow"><label for="veri" class="inlabel">验证码：</label><input type="text" id="veri" class="loinput" placeholder="请输入验证码" /><img src="d.jpg" alt="" /></div>
                <div class="inrow"><input type="checkbox" id="aulo" class="aulo" /><label for="aulo">自动登录</label></div>
                <div class="inrow2"><button class="logbtn">登录</button></div>
            </form>
        </div>
    </div>

    <div class="footer"></div>
</body>
</html>