<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{if condition="$nowuser!=''"}{if condition="$nowuser->remind>0"}[新提醒] {/if}{/if}{block
        name="title"}标题{/block}</title>
    <link rel="stylesheet" href="__ADMIN__/admin/dist/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/study/css/default.css">
    <link rel="stylesheet" href="__ADMIN__/study/css/{block name='cssname'}{/block}.css">
    <link rel="stylesheet" href="__ADMIN__/study/font-awesome/css/font-awesome.min.css">
    {block name="addcss"}{/block}


    <script type="text/javascript" src="__ADMIN__/study/js/jquery.min.js"></script>
    <script src="__ADMIN__/admin/dist/layui.js"></script>

</head>
<body>
<div class="header">
    <div class="topn">
        {if condition="($Think.session.UserId)!=null"}
        <div class="topn-btn">
            <a href="{:url('Remind/index?uid='.$Think.session.UserId)}">提醒{if condition="$nowuser!=''"}{if
                condition="$nowuser->remind>0"}<span class="renum">{$nowuser->remind}{/if}{/if}</span></a>
            <a href="{:url('User/index?uid='.$Think.session.UserId)}">{$Think.session.NickName}</a>
            <a href="{:url('Login/logout')}">注销</a>
            {else /}
            <div class="topn-btn"><a href="{:url('login/index')}">登录</a><a href="{:url('Register/index')}">注册</a>
                {/if}
            </div>


        </div>
        <div class="hlogo">
            <div>
                <a href="{:url('index/index')}"><img src="__ADMIN__/study/img/logo.png"/></a>
            </div>
        </div>
        <nav class="nav">
            <div class="navblock">
                <div class="navbtn">
                    <a href="{:url('index/index')}">主页</a>
                    <a href="{:url('Sign/index')}">每日签到</a>
                    <a href="{:url('File/index')}">学习资料</a>
                    <!-- <a href="#">动态</a> -->
                    <!-- <a href="#">排行榜</a> -->
                </div>
                <div class="search">
                    <form action="../Search/index" method="GET">
                        <div><input class="seakey" name="seakey" type="text" placeholder="请输入搜索内容"/></div>
                        <div>
                            <button type="submit"><span class="fa fa-lg fa-search"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    {block name="content"}
    {/block}

    <div class="footer">
        <p><a href="#">关于我们</a><fuline>|</fuline>学习论坛</p>
        <p>Powered by ThinkPHP X5.0 © 2016-2018 Comsenz Inc.</p>
    </div>

    <div class="backtop tophidden"></div>

    <script>
        $(function(){
            $(window).scroll(function(){
                if($(window).scrollTop()>=160){
                    $('.nav').addClass('fixed');
                    $('.backtop').addClass('topdisplay').removeClass('tophidden');
                }
                else{
                    $('.nav').removeClass('fixed');
                    $('.backtop').removeClass('topdisplay').addClass('tophidden');
                }
            })
            $(".backtop").click(function () {
                var speed=200;//滑动的速度
                $('body,html').animate({ scrollTop: 0 }, speed);
                return false;
            });
        })
    </script>

</body>
</html>