{extend name="template"/}
{block name="title"}
处理举报 - 学习论坛
{/block}
{block name="cssname"}tip{/block}

{block name="content"}
<div class="crumb">
    <a href="{:url('Index/index')}"><span class="fa fa-home fa-lg"></span></a><fuline>></fuline>举报处理</a>
</div>
<div class="content">
    <div class="tablebo">
        <table class="tiptable" cellspacing="0" cellpadding="0">
            <tr>
                <th class="tiper">举报者</th>
                <th class="ttype">举报类型</th>
                <th class="tipcon">被举报的帖子(跳转)</th>
                <th class="tipcon">被举报的回复</th>
                <th class="tipcon">举报理由</th>
                <th class="tiptime">举报时间/处理时间(下)</th>
                <th class="tiper">处理人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {volist name="tips" id="tip"}
            <tr>
                <td><a href="{:url('User/index?uid='.$tip->User->user_id)}">{$tip->User->nick_name}</td>
                <td>
                {switch name="$tip->com_id"}
                {case value="0"}帖子{/case}
                {default /}回复
                {/switch}
                </td>
                <td><div class="box">{if condition="$tip->art_id!=0"}<a href="{:url('Article/index?aid='.$tip->art_id)}">{$tip->Article->art_title}</a>{else /}<span class="grayspan">举报回复所在帖子: </span><a href="{:url('Article/index?aid='.$tip->Comment->Article->art_id.'#c'.$tip->Comment->com_count)}">{$tip->Comment->Article->art_title}</a>{/if}</div></td>
                <td><div class="box">{if condition="$tip->com_id!=0"}{$tip->Comment->com_content|htmlspecialchars_decode|strip_tags}{else /}<div class="line">-</div>{/if}</div></td>
                <td><div class="box">{$tip->tip_content}</div></td>
                <td>{$tip->tip_time}{if condition="$tip->tip_over_time!=null"}<span class="overtime">{$tip->tip_over_time}</span>{/if}</td>
                <td>{if condition="$tip->op_user_id!=0"}{$tip->OpUser->nick_name}{else /}无{/if}</td>
                <td>{$tip->tip_op}</td>
                <td>{if condition="($tip->getData('tip_op')==0)"}
                    <a href="tipop?tid={$tip->tip_id}&type=1">正常</a>{if condition="$tip->com_id==0"}/<a href="tipop?tid={$tip->tip_id}&type=3">锁定</a>{/if}/<a class="del" href="tipop?tid={$tip->tip_id}&type=2">删除</a>
                    {else /}该举报已处理
                    {/if}
                </td>
            </tr>
            {/volist}
        </table>
        <div class="pagecon">{$page}</div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.del').click(function(){
            if(confirm("确定要删除吗？"))
                {
                return true;
                }
                else
                {
                return false;
                }
        })
    });
</script>
{/block}