/* 签到页CSS */

/* 内容 */
.content{
    margin: auto;
    width: 1000px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction:column;
}

.content .signleft{
    width: 780px;
    box-sizing: border-box;
    padding-right: 30px;
}

.content .signleft .moodrow{
    display: flex;
}

.content .signleft .moodrow a{
    padding: 3px 10px 3px 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-right: 5px;
}

.content .signleft .moodrow a:hover{
    background: #f6f9ff;
    cursor: pointer;
}

.content .signleft .moodrow a.clicked{
    border: #aaa solid 1px;
    background: #f6f9ff;
}

.content .signleft .moodrow a p{
    margin: 0px;
}

.content .signleft .say{
    height: 25px;
    box-shadow: inset 2px 2px 3px #e9e9e9;
    border: 1px solid #ddd;
    padding: 0 2px;
}

.content .signleft .btn{
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 35px;
    background: url(../img/moodimg/qdtb.gif);
    cursor: pointer;
}

.content .signleft table{
    width: 100%;
}

.content .signleft table .th td{
    border-top: 1px solid #aaa;
    padding-top: 3px;
    padding-bottom: 3px;
}

.content .signleft table td{
    padding-left: 10px;
    padding-right: 10px;
}

.content .signleft table .userrow{
    background: #eee;
    height: 40px;
}

.content .signleft table .signrow td{
    background: #fff;
    padding: 5px 10px;
}

.content .signright{
    width: 220px;
}

.content .signright .blotit{
    padding: 0 10px;
    height: 31px;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #DDD;
    background: #F5F5F5;
    line-height: 31px;
    white-space: nowrap;
    overflow: hidden;
}

.content .signright .blocon{
    font-size: 13px;
    border: 1px solid #e0e0e0;
    border-top: none;
    padding: 10px;
    margin-bottom: 20px;
}

.content .signright .blocon p{
    margin: 0;
    display: flex;
    justify-content: space-between;
}