/* 用户主页CSS */

body{
    background: #ebebeb;
}

.content{
    /* border: 1px solid #ddd; */
    box-sizing: border-box;
    /* background: #f6f6f6; */
    width: 1000px;
    margin: 30px auto;
}

.content a:hover{
    text-decoration: underline;
}

.content .userde{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.content .userde .uimgana{
    display: flex;
    justify-content: space-between;
}

.content .userde .uimgana img{
    border: 5px solid #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #bbb;
}

.content .userde .uimgana .una{
    margin-left: 15px;
}

.content .userde .uimgana .una p{
    font-size: 16px;
}

.content .userde .opbtn a{
    display: block;
    margin: 10px;
}

.content .ulbtn{
    display: flex;
    margin-bottom: 0px;
}
.content .ulbtn li{
    margin-right: 5px;
}

.content .ulbtn li a{
    display: block;
    border: 1px solid #CCC;
    /* border-bottom-color: #FFF; */
    background: #E5EDF2;
    padding: 7px 10px;
    font-size: 12px;
}

.content .ulbtn li a.display{
    background: #fff;
    border-bottom: 1px solid #fff;
}

.content .ulbtn li a:hover{
    text-decoration: none;
}

.content .ucon{
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    box-sizing: border-box;
    padding: 30px;
}

.content .ucon span.grayiro{
    color: #5d5d5d;
}

.content .ucon .uconrow{
    border-bottom: 1px dashed #CDCDCD;
}

.content .ucon .aandr{
    display: flex;
}

.displaybtn{
    font-weight: bold;
}

.uarttable{
    width: 100%;
    border-top: 1px dashed #CDCDCD;
}

.uarttable .th td:nth-child(1){
    padding-left: 20px;
}

.uarttable .arttitle{
    box-sizing: border-box;
    padding: 0px 20px;
    width: 600px;
}

.uarttable .comrow{
    height: 35px!important;
    line-height: 35px;
}

.uarttable .comcontent{
    font-size: 12px;
    max-height: 35px!important;
    display: flex;
    overflow: hidden;
}

.uarttable .comcontent a{
    color: #aaa;
}

.uarttable .comcontent p{
    margin: 0px;
}

.uarttable .comcontent>img{
    margin-top: 10px;
}

.uarttable .comcontent>img:nth-child(1){
    margin-right: 5px;
}

.uarttable .comcontent>img:nth-last-child(1){
    margin-left: 5px;
}

.uarttable tr{
    height: 44px;
}

.uarttable td{
    padding: 5px 0;
    border-bottom: 1px solid #DDD;
}

.uarttable .th{
    margin-top: 1px;
    padding: 0 10px;
    border-bottom: 1px solid #CDCDCD;
    background: #F5F5F5;
}

.hascom>td{
    border-bottom: none;
}

.con2{
    background: #fff;
    display: flex;
}

.content .left{
    width: 150px;
}
.content .left .letitle{
    line-height: 50px;
    border-bottom: 1px dashed #CDCDCD;
    font-size: 16px;
    padding-left: 20px;
}
.content .left ul{
    margin: 0;
}
.content .left li{
    border-bottom: 1px solid #E5E5E5;
}
.content .left li a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.content .left li a:hover{
    text-decoration: none;
}
.content .left li a.eraned{
    font-weight: bold;
}
.content .right{
    width: 850px;
    box-shadow: #e9e9e9 -5px 0px 5px ;
    box-sizing: border-box;
    padding: 30px;
}
.content .right .row{
    display: flex;
    margin-bottom: 20px;
}
.content .right .row .rowleft{
    width: 100px;
    height: 25px;
    line-height: 25px;
}
.content .right .row input[type="text"],.content .right .row input[type="password"]{
    width: 280px;
    height: 25px;
    box-shadow: inset 2px 2px 3px #e9e9e9;
    border: 1px solid #ddd;
    padding: 0 2px;
}
.content .right button{
    width: 60px;
    height: 30px;
    cursor: pointer;
    background: #222;
    color: #fff;
    margin-left: 100px;
}

.content .right .chimtitle{
    margin-top: 10px;
}
.content .right .btn2{
    margin-top: 30px;
    margin-left: 50px;
}

.useron{
    display: flex;
    flex-wrap: wrap;
}
.content .userspan{
    margin: 10px 4px 0;
    padding: 10px;
    width: 215px;
    height: 58px;
    border: 1px solid #F3F3F3;
    background: #F9F9F9;
    white-space: nowrap;
}
.content .userspan,.content .userspan a{
    font-size: 12px;
}
.content .userspan .userimg img{
    border-radius: 8px;
    padding: 2px;
    width: 48px;
    height: 48px;
    background: #FFF;
    border: 1px solid;
    border-color: #F5F5F5 #CDCDCD #CDCDCD #F5F5F5;
}

.content .userspan .userimg{
    margin-right: 5px;
}
.content .userspan .userimg,.content .userspan .userinfo{
    display: inline-block;
}

.content .userspan .userinfo .infobtn a{
    color: #8d8d8d;
}
.content .userspan .userinfo .infobtn a:hover{
    text-decoration: underline;
}

.sp{
    font-size: 12px;
    color: #ff0000;
    margin-left: 5px;
    line-height: 25px;
}
.sphidden{
    display: none;
}