<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="__ADMINL__/css/layui.css">
  <script type="text/javascript" src="__ADMINL__/jquery/jquery-3.4.1.min.js"></script>
  <title>Document</title>
  <style>
    .layui-layout-body {
      padding: 1rem;
    }

    .add_btn {
      /* margin:0 auto; */
    }

    .left {
      float: left;
      padding-right: 2rem;
      border-right: 1px solid #d1d1d1;
    }

    .right {
      float: left;
      margin-left: 2rem;
      margin-top: 4.5rem;
    }

    .icons {
      border: 1px solid #d1d1d1;
      padding: 0.3rem;
    }

    .upload {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>

<body class="layui-layout-body ">
  <form class="layui-form layui-form-pane" action="" method="POST">
    {volist name="board" id="board"}
    <div class="left">
      <!-- start -->
      <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-inline">
          <input type="text" name="board_id" id="board_id" lay-verify="board_id" placeholder="请输入" autocomplete="off"
            class="layui-input" value="{$board.board_id}" disabled>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">板块名称</label>
        <div class="layui-input-inline">
          <input type="text" name="board_name" lay-verify="board_name" placeholder="请输入" autocomplete="off"
            class="layui-input" value="{$board.board_name}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">版块简介</label>
        <div class="layui-input-inline">
          <input type="text" name="board_info" lay-verify="board_info" placeholder="请输入" autocomplete="off"
            class="layui-input" value="{$board.board_info}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">优先级</label>
        <div class="layui-input-inline">
          <input type="text" name="board_top" lay-verify="board_top" placeholder="请输入" autocomplete="off"
            class="layui-input" value="{$board.board_top}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">板块大类</label>
        <div class="layui-input-inline">
          <select name="bhead_id">
            {volist name="bhead" id="bhead"}
            {if condition="$board.bhead_id == $bhead.bhead_id"}
            <option value="{$bhead.bhead_id}" selected>{$bhead.bhead_name}</option>
            {else /}
            <option value="{$bhead.bhead_id}">{$bhead.bhead_name}</option>
            {/if}
            {/volist}
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">版块权限</label>
        <div class="layui-input-inline">
          <input type="text" name="board_th" lay-verify="board_th" placeholder="请输入" autocomplete="off"
            class="layui-input" value="{$board.board_th}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block" id="member">
          {if condition="$board.board_status == 0"}
          <input type="radio" name="board_status" value="0" title="启用" checked>
          {else /}
          <input type="radio" name="board_status" value="0" title="启用">
          {/if}
        </div>
      </div>
      <!-- end -->
      <div class="layui-form-item add_btn">
        <button class="layui-btn" lay-submit="" lay-filter="save">提交</button>
        <button class="layui-btn" lay-submit="" type="reset">重置</button>
      </div>
      {/volist}
  </form>
  </div>
  <div class="right">
    <div class="icons">
      <img src="{$board.board_img}" id="icon" width="220" height="75">
    </div>
    <div class="upload">
      <button type="button" class="layui-btn" id="test1">
        <i class="layui-icon">&#xe67c;</i>上传LOGO
      </button>
    </div>
    <div class="upload">
      <button type="button" class="layui-btn  layui-btn-disabled" lay-filter="save_icon" id="ed_icon" disabled>
        <i class="layui-icon">&#xe9aa;</i>&emsp;更新&emsp;
      </button>
    </div>
  </div>


  <script src="__ADMINL__/layui.js"></script>
  <script>
    layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
      var form = layui.form
        , laydate = layui.laydate
        , upload = layui.upload;

      //执行实例
      var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        , url: "{:url('upload')}" //上传接口
        , size: 1024
        , done: function (res) {
          //上传完毕回调
          if (res.code > 0) {
            return layer.msg('上传失败')
          } else {
            $('#icon').attr("src", res.path);
            $('#ed_icon').removeClass("layui-btn-disabled");
            $('#ed_icon').attr("disabled", false);
          }
        }
        , error: function () {
          //请求异常回调
        }
      });

      //监听提交
      form.on('submit(save)', function (data) {
        let url = "{:url('edit')}";
        data.field['board_id'] = '{$board.board_id}';
        let post = JSON.stringify(data.field);
        console.log(url, post);
        $.ajax({
          type: 'post',
          url: url,
          data: 'post=' + post,
          dataType: 'json',
          success: function (json) {
            layer.msg(json.msg, { time: 1000 }, function () {
              var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
              parent.layer.close(index); //再执行关闭
              parent.layui.table.reload('board', { page: { curr: 1 } });
            });
          }
        });
        return false;
      });

      //更新按钮
      $('#ed_icon').click(function () {
        let url = "{:url('saveicon')}";
        $.ajax({
          type: 'get',
          url: url,
          data: {
            board_id: $('#board_id').val(),
            path: $('#icon').attr("src")
          },
          dataType: 'json',
          success: function (res) {
            layer.msg(res.msg);
          }
        });
      })


      //自定义验证规则
      form.verify({
        user_name: function (value) {
          if (value.length < 5)
            return "输入长度5以上用户名";
        }
        , nick_name: function (value) {
          if (value.length < 2)
            return "输入长度2以上昵称";
        }
        , user_pwd: [
          /^[A-Za-z0-9]{6,}$/
          , '输入6位以上密码'
        ]
        , user_email: [
          /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/
          , '输入正确邮箱格式'
        ]
        , user_regtime: [
          /^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])\s+(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d$/
          , '输入注册时间'
        ]
        , user_lv: [
          /^[1-9]\d*|0$/
          , '输入等级'
        ]
        , user_point: [
          /^[1-9]\d*|0$/
          , '输入积分'
        ]
        , user_money: [
          /^[1-9]\d*|0$/
          , '输入金钱'
        ]
      });
    });
  </script>
</body>

</html>