{extend name="template"/}
{block name="title"}
{$Board->board_name} - 学习论坛
{/block}
{block name="cssname"}board{/block}

{block name="content"}
<div class="crumb"><a href="{:url('Index/index')}"><span class="fa fa-home fa-lg"></span></a><fuline>></fuline><a href="{:url('Bhead/index?hid='.$Board->Bhead->bhead_id)}">{$Board->Bhead->bhead_name}</a><fuline>></fuline><a href="{:url('Board/index?bid='.$Board->board_id)}">{$Board->board_name}</a></div>
    <div class="content">
        {//volist name="$Board->Boardadmin" id="admins"}
            {//$admins->User->nick_name}
        {///volist}
        {if condition="$auth==true&&$Board->tipnum($Board->board_id)>0"}
        <div class="warn">
            当前版块您有 {$Board->tipnum($Board->board_id)} 条举报信息未处理，<a href="{:url('Tip/index?bid='.$Board->board_id)}">立即前往》</a>
        </div>
        {/if}
        <div class="blocktop">
            <div class="btleft">
                <span class="blockna">{$Board->board_name}</span><fuline>|</fuline>帖子数：<span class="bloponum">{$Board->GetAllart()}</span><fuline>|</fuline>{if condition="$Board->isFav($Board->board_id,$Think.session.UserId)==0"}<a class="fav" href="favorite?bid={$Board->board_id}">收藏本版</a>{else /}<a class="fav" href="canfav?bid={$Board->board_id}">取消收藏</a>{/if}
            </div>
            <div><a href="#editor"><button class="fabtn">发 帖 <span class="fa fa-pencil"></span></button></a></div>
        </div>

        <div class="blocktar">
            <ul>
                <li{if condition="$Think.get.atype==null"} class="clied"{/if}><a href="{:url('Board/index?bid='.$Board->board_id.'&oid='.$Think.get.oid.'&page=1&atype=')}">全部</a></li>
                {volist name="$Board->atype" id="atype"}
                <li{if condition="$Think.get.atype==$atype->atype_id&&$Think.get.atype!=null"} class="clied"{/if}><a href="{:url('Board/index?bid='.$Board->board_id.'&oid='.$Think.get.oid.'&page=1&atype='.$atype->atype_id)}">{$atype->atype_name}<span class="tynum"></span></a></li>
                {/volist}
            </ul>
        </div>

        <div class="blocon">
            <div class="shai">
                <div>
                    <span>排序：
                        <select onchange="window.location=this.value;">
                            <option id="op0" value="{:url('Board/index?bid='.$Board->board_id.'&oid=0&page=1&atype='.$Think.get.atype)}">最后发表</option>
                            <option id="op1" value="{:url('Board/index?bid='.$Board->board_id.'&oid=1&page=1&atype='.$Think.get.atype)}">发帖时间</option>
                            <option id="op2" value="{:url('Board/index?bid='.$Board->board_id.'&oid=2&page=1&atype='.$Think.get.atype)}">热门</option>
                        </select>
                    </span>
                </div>
                <!-- <div><a href="#">最新</a><fuline>|</fuline><a href="#">热门</a><fuline>|</fuline><a href="#">精华</a></div> -->
            </div>
            <div class="polist">
                <table cellspacing="0">
                    {volist name="BoardTops" id="BoardTop"}
                    <tr>
                        <td class="icon"><img src="__ADMIN__/study/img/userimg/{$BoardTop->User->user_img}" alt="" width="43" height="43"></td>
                        <td class="zhua"><a href="{:url('Article/index?aid=' . $BoardTop->art_id)}" title="新窗口打开" target="_blank"><img src="__ADMIN__/study/img/pin_{$BoardTop->art_top}.gif" alt="" width="18" height="18" /></a></td>
                        <td class="potit"><div><span class="tyname">[<a href="{:url('Board/index?bid='.$Board->board_id.'&oid='.$Think.get.oid.'&page=1&atype='.$BoardTop->atype_id)}">{$BoardTop->Atype->atype_name}</a>]</span> <a href="{:url('Article/index?aid=' . $BoardTop->art_id)}">{$BoardTop->art_title}</a>{if condition="$BoardTop->com_grade==1"}<img src="__ADMIN__/study/img/agree.gif" alt="帖子被加分" title="帖子被加分" />{/if}{if condition="$BoardTop->art_status==2"}<img src="__ADMIN__/study/img/lock.gif" alt="帖子被锁定" title="帖子被锁定" />{/if}</div></td>
                        <td class="pouser"><a href="{:url('User/index?uid='.$BoardTop->User->user_id)}">{$BoardTop->User->nick_name}</a><br /><span class="potime">{$Board->TimeHandle($BoardTop->art_time)}</span></td>
                        <td class="ponum">{$BoardTop->GetComNum($BoardTop->art_id)}/{$BoardTop->art_view}</td>
                        {if condition="$BoardTop->GetLastCom($BoardTop->art_id)!=null"}
                        <td class="reuser"><a href="{:url('User/index?uid='.$BoardTop->User::get($BoardTop->GetLastCom($BoardTop->art_id)['user_id'])->user_id)}">{$BoardTop->User::get($BoardTop->GetLastCom($BoardTop->art_id)['user_id'])->nick_name}</a><br /><span class="potime">{$Board->TimeHandle($BoardTop->GetLastCom($BoardTop->art_id)['com_time'])}</span></td>
                        {else /}<td class="reuser">暂无</td>
                        {/if}
                        {if condition="$auth==true"}
                        <td class="auth">
                            <a class="aubtn" id="top{$BoardTop->art_id}" href="#">置顶</a> /
                            <a class="aubtn" id="edit{$BoardTop->art_id}" href="{:url('Article/edit?aid='.$BoardTop->art_id)}">编辑</a> /
                            <a class="aubtn" id="dele{$BoardTop->art_id}" href="#">删除</a>
                        </td>
                        {/if}
                    </tr>
                    {/volist}
                    <tr class="nok"><td colspan="7"></td></tr>
                    <!-- 置顶帖↑ -->
                    {volist name="arts" id="art"}
                    <tr>
                        <td class="icon"><img src="__ADMIN__/study/img/userimg/{$art->User->user_img}" alt="" width="43" height="43"></td>
                        <td class="zhua"><a href="{:url('Article/index?aid=' . $art->art_id)}" title="新窗口打开" target="_blank"><img src="__ADMIN__/study/img/folder.gif" alt="" width="18" height="18" /></a></td>
                        <td class="potit"><div><span class="tyname">[<a href="{:url('Board/index?bid='.$Board->board_id.'&oid='.$Think.get.oid.'&page=1&atype='.$art->atype_id)}">{$art->Atype->atype_name}</a>]</span> <a href="{:url('Article/index?aid=' . $art->art_id)}">{$art->art_title}</a>{if condition="$art->com_grade==1"}<img src="__ADMIN__/study/img/agree.gif" alt="帖子被加分" title="帖子被加分" />{/if}{if condition="$art->art_status==2"}<img src="__ADMIN__/study/img/lock.gif" alt="帖子被锁定" title="帖子被锁定" />{/if}</div></td>
                        <td class="pouser"><a href="{:url('User/index?uid='.$art->User->user_id)}">{$art->User->nick_name}</a><br /><span class="potime">{$Board->TimeHandle($art->art_time)}</span></td>
                        <td class="ponum">{$art->GetComNum($art->art_id)}/{$art->art_view}</td>
                        {if condition="$art->GetLastCom($art->art_id)!=null"}
                        <td class="reuser"><a href="{:url('User/index?uid='.$art->User::get($art->GetLastCom($art->art_id)['user_id'])->user_id)}">{$art->User::get($art->GetLastCom($art->art_id)['user_id'])->nick_name}</a><br /><span class="potime">{$Board->TimeHandle($art->GetLastCom($art->art_id)['com_time'])}</span></td>
                        {else /}<td class="reuser">暂无</td>
                        {/if}
                        {if condition="$auth==true"}
                        <td class="auth">
                            <a class="aubtn" id="top{$art->art_id}" href="#">置顶</a> /
                            <a class="aubtn" id="edit{$art->art_id}" href="{:url('Article/edit?aid='.$art->art_id)}">编辑</a> /
                            <a class="aubtn" id="dele{$art->art_id}" href="#">删除</a>
                        </td>
                        {/if}
                    </tr>
                    {/volist}
                    <!-- 最多显示20条（不包括置顶帖） -->
                </table>
            </div>
            <div class="page">
                <a href="#editor"><button href="#editor" class="fabtn">发 帖 <span class="fa fa-pencil"></span></button></a>
                {$page}
            </div>
        </div>

        <div class="rebox">
            <form action="newArt" method="post">
                <div class="newinput">
                    <select name="arttype">
                        <option value="请选择帖子分类">请选择帖子分类</option>
                        {volist name="Batypes" id="batype"}
                        <option value="{$batype->atype_id}">{$batype->atype_name}</option>
                        {/volist}
                    </select>
                    <input name="arttitle" type="text" class="loinput" placeholder="请输入帖子标题" />
                    <span>还可以输入<span id="word">70</span>个字符</span>
                </div>
                <div class="eab">
                    <div id="editor"></div>
                    <textarea id="artcontent" name="artcontent" style="display: none;"></textarea>
                    <input type="hidden" id="par" name="par" value="{$Board->board_id}|{$Think.session.UserId}" />
                    <button type="submit">发表帖子</button>
                </div>
            </form>
        </div>
    </div>

    {if condition="$auth==true"}
    <div class="topop">
        <form action="../Article/topArt" method="post" class="toform">
            <input type="hidden" id="aid" name="aid" value="" />
            <div class="totitle">设置优先级</div>
            <div class="tocon">
                <p class="con">请设置置顶优先级（优先级：0-5）</p>
                <div class="toselect">
                    <label for="lv">优先级：</label>
                    <select name="lv" id="lv">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="tobtn">
                <button type="submit">确定</button><button class="cancel">取消</button>
            </div>
        </form>
    </div>
    {/if}

    <script type="text/javascript" src="__ADMIN__/study/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')

        //开启本地图片上传，上传图片到服务器
        editor.customConfig.uploadImgServer = 'upload'

        // 将图片大小限制为 5M
        editor.customConfig.uploadImgMaxSize = 5 * 1024 * 1024

        // 限制一次最多上传 5 张图片
        editor.customConfig.uploadImgMaxLength = 5

        var $text1 = $('#artcontent')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        //创建富文本编辑器
        editor.create()
    </script>
    <script>
        $(document).ready(function(){
            //获取参数  
            function getUrlParam(name) {   
                 var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象  
                 var r = window.location.search.substr(1).match(reg);  //匹配目标参数   
                 if (r != null) return unescape(r[2]); return null; //返回参数值  
            } 
            var oid = getUrlParam('oid');
            $strop = "#op"+oid;
            $($strop).attr('selected',true);

            $('.cancel').click(function(){
                event.preventDefault();
                $('.topop').css('display','none');
            })

            $('.aubtn').click(function(){
                $('#aid').val($(this).attr('id'));
                if($(this).attr('id').indexOf('top')>=0){
                    $('.toselect').css('display','block');
                    $('.totitle').text('设置优先级');
                    $('.con').text('请设置置顶优先级（优先级：0-5）');
                    $('.topop').css('display','block');
                }
                else if($(this).attr('id').indexOf('dele')>=0){
                    $('.toselect').css('display','none');
                    $('.totitle').text('删除该帖子');
                    $('.con').text('确认删除该帖子吗？');
                    $('.topop').css('display','block');
                    $('.toform').attr('action','../Article/deleteArt');
                }
            })

            // 限制字数
            $(function(){
                $(".loinput").keyup(function(){
                    var len = $(this).val().length;
                    if(len > 69){
                        $(this).val($(this).val().substring(0,70));
                        $("#word").text(0);
                    }
                    var num = 70 - len;

                    if(num<0){
                        $("#word").text(0);
                    }else{
                        $("#word").text(num);
                    }
                });
            })
        })
    </script>
    <script type="text/javascript">
        var uid = "{$Think.session.UserId}";
        var getuser = "{:url('Chat/getUserdata')}";
        var getmember = "{:url('Chat/getMembers')}";
        var getchatlog = "{:url('Chat/getChatLog')}"
        var changesign = "{:url('Chat/changeSign')}"
        var changestatus = "{:url('Chat/changeStatus')}";

    </script>

    <script type="text/javascript" src="__CHAT__/chat.js"></script>
{/block}